<label>Server Name</label>
<hr>
<!-- <input type="text" 
       class="text formcontrol"
       (input)="onKeyPress($event)"> -->
<input type="text" 
       class="text formcontrol"
       [(ngModel)]="serverName">
<p>{{serverName}}</p>

<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add server</button>
    <p [innerText]="!allowNewServer"></p>
    <p>{{serverCreationStatus}}</p>
    <!-- Property Binding -->
    <!-- We are setting the property of the element with the value instead of html attribute , when [] is around the attribute -->
<!-- <app-server></app-server>
<app-server></app-server> -->

<div app-server></div>